*{
    margin: 2px;
    padding: 2px;
}

body{
    background:scroll;
    background-color:rgb(255, 255, 255);
    padding-top: 0px;
    margin-top:0px;
}

nav{
   display: flex;
   height: 65px;
   margin: 0px;
   padding: 0px;
   background-color: rgb(255, 255, 255);
   width: 100%;
   text-decoration: none;
   position:fixed;
   box-shadow: 0px 0px 5px 0px #999;
}

nav a{
    text-decoration: none;
    
}

nav a:hover{
    text-decoration: none;
    color:rgb(24, 24, 24);
    
}

.logo-container{
    display: flex;
    justify-content:end;
    padding-top: 6px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    width: 300px;
    color:black;
}

.logo{
    color:black;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 996px;
}

nav ul li{
    display: flex;
    flex-direction: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}


nav ul li a{
    padding-left: 20px;
    padding-top: 2px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-decoration:none;
    
} 

.nav-item{
    display: flex;
    flex-direction: flex-end;
    text-decoration:none;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color:black;
}


.nav-item:hover{
    color:blue;
}

.button-container{
    width: 170px;
    padding: 10px;
    margin: 8px;
    height: 10px;
    left: 148px;
    top: 180px;
    background: #2B59FF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color:rgb(255, 255, 255);
    text-decoration:none;
}

.button{
    color:rgb(255, 255, 255);
}

.button-tamaño:hover{
    color:dimgrey
}


@media only screen and (max-width: 380px) {
    nav {
        height: 180px;
        width: 360px;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    nav ul {
        height: 120px;
        width: 360px;
        flex-direction: column;
        text-align: center;
       
    }
    .nav-item {
        display:flex;
        justify-self: center;
        padding-left: 120px;
    }
    .logo {
        display:flex;
        justify-content: center;
        padding-right: 80px;
    }
    .button-container {
        display:flex;
        justify-self: center;
        margin-left: 90px;
    }
}