*{
    margin: 0px 0px 0px 0px;
    padding: 2px;
}

header{
  margin-top: 0%;
  margin-left: 0%;
  padding-top: 0%;
  padding-left: 0%;
}

body{
    background:scroll;
    background-color:rgb(255, 255, 255);
    padding-top: 0px;
    margin-top:0px;
    margin-left: 0px;
    min-height: 100vh;
}

/***** NAVBAR *****/

nav{
   display: flex;
   height: 67px;
   margin: 0px;
   padding: 0px;
   padding-top: 0px;
   background-color: rgb(255, 255, 255);
   width: 1515px;
   text-decoration: none;
   position:fixed;
   box-shadow: 0px 0px 5px 0px #999;
   z-index: 1;
}

nav a{
    text-decoration: none;
    
}

nav a:hover{
    text-decoration: none;
    color:rgb(24, 24, 24);
    
}

.logo-container{
    display: flex;
    justify-content:end;
    padding-top: 6px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    width: 300px;
    color:black;
}

.logo{
    color:black;
    font-size: 25px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 996px;
    
}

nav ul li{
    display: flex;
    flex-direction: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}


nav ul li a{
    padding-right: 40px;
    padding-top: 16px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-decoration:none;
} 

.nav-item{
    display: flex;
    flex-direction: flex-end;
    text-decoration:none;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color:black;
}


.nav-item:hover{
    color:blue;
}

.button-container{
    width: 245px;
    padding-right:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    font-family: 'Mulish', sans-serif;  
    color:rgb(255, 255, 255);
    background-color: #2B59FF;
    border-radius: 50px;
    padding: 7px;
    font-size: 18px;
    text-decoration:none;
}

.button-tamaño:hover{
    color:dimgrey
}


@media only screen and (max-width: 380px) {
    nav {
        height: 180px;
        width: 360px;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        
    }
    nav ul {
        height: 120px;
        width: 360px;
        flex-direction: column;
        text-align: center;
       
    }
    .nav-item {
        display:flex;
        justify-self: center;
        padding-left: 120px;
    }
    .logo {
        display:flex;
        justify-content: center;
        padding-right: 80px;
    }
    .button-container {
        display:flex;
        justify-self: center;
        margin-left: 90px;
    }
}

/***** PAG-1 *****/

.pag1-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-top: 180px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-left: 150px;
    justify-content: space-around;
    width: 600px;
}

.text-pag1-container{
    color:black;
    width: 700px;
    padding-left: 200px;
}

.media-pag1-container{
    display: flex;
    align-items: center;
    width: 300px;
}

.talento {
    font-family: Newsreader;
    font-size: 80px;
    color: #212529; 
    width: 600px;
}

.oportunidad{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: light;
    color: #748490;
    padding-top: 10px;
    }

.circulo{
    position:relative;
    padding-right: 400px;
    padding-left: 150px;
   }

.animacion-movil{
    position: absolute;
    background-color:aqua;
    width: 250px;
    height: 520px;
    margin-left: 220px;
    border-radius: 10%;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

.animacion-movil-2{
    position: absolute;
    width: 245px;
    height: 549px;
    margin-top: 218px;
    margin-left: 287px;
    border-radius: 8%;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

/*Animación móvil page-1*/
 @-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  
  /***** PAG-2 *****/

  .pag-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./laptop-2557572_1920.jpg);
    height: 850px;
  }

  .pag-2-text{
    font-family: Newsreader;
    font-size: 80px;
    color: #ffffff; 
    width: 700px;
    margin-left: 200px;
    margin-top: 350px;
  }

  .button-container-pag-2{
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 210px;
    height: 30px;
    left: 148px;
    top: 180px;
    border: solid #ffffff 1px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color:rgb(255, 255, 255);
    text-decoration:none;
  }

  .button-pag-2 {
    color:rgb(255, 255, 255);
    text-decoration: none;
  }

  .button-container-pag-2:hover{
    background-color: #18191a82;
    transition: 0.2s;
  }

   /***** PAG-3 *****/

   .pag-3{
    height: 850px;
    width: 700px;
   }

   .pag-3-container{
    display: flex;
    flex-direction: row;
   }

  .fila-1{
      display: flex;
      flex-direction:row;
  }

  .fila-2{
      display: flex;
      flex-direction:row;
  }

  .movil-pg3{
    position: relative;
    margin-top: 200px;
    margin-left: 150px;
  }

  .contenedor-filas{
      margin-top: 250px;
      
      
  }

  h3{
      width: 400px;
      font-family: Kanit;
      font-size: 30px;
      text-align: center;
  }

  .parrafo-p3{
      width: 400px;
      font-family: 'Mulish', sans-serif;
      color:#5c5c5c;
      text-align: center;
  }

  .pag-3-item1{
  margin-left: 150px;
  padding-bottom: 25px;
  width: 90px;
  }

  .pag-3-item2{
    margin-left: 130px;
    width: 120px;
    padding-bottom: 0px;
    }

  .pag-3-item3{
    margin-left: 150px;
    width: 90px;
    }

  .pag-3-item4{
    margin-left: 150px;
    width: 88px;
    }

.fila-2 {
  padding-top: 40px;
}


  /***** FOOTER *****/

  footer{
    background-color: #000000;
    height: 150px;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    font-family: Kanit;
  }

  .footer-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style:none;
   }

  .factoria{
    display:flex;
    color: #999;
    justify-content: center;
    padding-top: 30px;
  }

  .list-item{
    color:#999;
    text-decoration: none;
  }
  